body {
    background-image: url('yellow_background.jpg');
    background-size: cover;
    padding: 0%;
    margin: 0%;
  }
  #box {
    border-radius: 5px;
    height: 410px;
    width: 350px;
    margin: auto;
    margin-top: 7%;
    position: relative;
    background-color: white;
    padding: 30px;
    box-shadow: 7px 7px 60px #000000;
  }
  #profile img {
    height: auto;
    width: 23%;
    border-radius: 50%;
    align-items: center;
  }
  #signin {
    font-family: "Satisfy", cursive;
    font-size: 3.3rem;
  }
  .design {
    margin: auto;
    margin-top: 10%;
    padding-bottom: 5px;
    text-align: center;
  }

  .ferror{
    font-size: x-small;
    color: red;
  }
  input {
    border-radius: 25px;
    padding: 14px;
    width: 70%;
  }
 
  #check {     
    align-items: start;
    text-align: left;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-flex;
    width: 1.1rem;
  }
  #ch{
    margin: 12px 0px 0px 0px;
  }
  #remember{
    align-items: start;
    text-align: left;
    margin: 3px 0px 0px 0px;
    padding: 0%;
    display: inline-block;
  }
  #submit{
    text-align: center;
    width: 100%;

  }
  #sub {
    margin: auto;
    margin-top: 5%;
    width: 80%;
    background-color: black;
    color: white;
    text-align: center;
  }
  #sub:hover {
    background-color: white;
    color: black;
  }